/* Empty. Add your own CSS if you like */
/*Fondo de la actividad*/

@font-face {
font-family:customfont; /* Edit this line */
src: url(./font/Avenir.ttf) format("truetype");
}

.scroll-content, .view-container{
  background: url(../img/Comp1_4.gif)no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
}
.item {
	border: 0px; 
	background-color: transparent;
}
.item>a{
	background-color:#317300;
	opacity: 0.77%;
	color: #FFF;
	margin-left:20%;
	border-top: 1%;
	border-bottom: 1%;
	border-left: 1%;
	border-right: 1%;
	-webkit-box-shadow: -2px 1px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 1px 28px 0px rgba(0,0,0,0.75);
	box-shadow: -2px 1px 28px 0px rgba(0,0,0,0.75);
}
a.item:hover, a.item:focus {
  color: #000;
}
.tabs{
	background: #317300;
	border-top: #000;
	border-left: #000;
	border-right:#000;
	border-bottom: #000;
}
.bar.bar-stable{
	background: transparent;
}
.tab-nav{
	background: transparent;
}
.tabs{
	background: #317300;																																																
}
.bar.bar-stable .title {																															 
	color: #FFF;
	border-bottom: 1px solid #FFF;
	margin-left: 5%;
	margin-right: 0%;
}
.tab-item, .icon, .tab-title{
	color: #BABABA;
	background: #317300;
	border-bottom: 0px;																																																																																																																																																																																																																													
}
.button.button-positive{
	background: #317300;	
}

.modal{
	max-width: 100%;
	max-height: 100%;
	min-height: 100%;
	min-width: 100%;
	margin-left:0%;
	margin-top: 10%;
	margin-bottom: 0%;
	background: #000;
	opacity: 0.5;
}
.play-modal>.bar,.bar-header,.disable-user-behavior{
	background: transparent;	
	color: #FFF;
}

.play-modal>.scroll-content{
	background: transparent;	
	color: #FFF;
}
.play-modal>.icon,.ion-play, .ion-pause{
	font-size: 700%;
	background: transparent;
	margin-left: 40%;
}
.play-modal>.bar,h1{
	color: #FFF;
	font-size: 200%;
	margin-left: 35%;
    font-family: customfont !important;
}

title, .title-center, .header-item>.icon,.ion-gear-a{
	background: transparent;
}



