/* Empty. Add your own CSS if you like */
/*Fondo de la actividad*/

.scroll-content{
  background: url(../img/Gif-animado-Acuario-06.gif)no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
}
.item {
	border: 0px; 
	background-color: transparent;
}
.item>a{
	background-color:#317300;
	opacity: 0.77%;
	color: #FFF;
	margin-left:20%;
	border-top: 1%;
	border-bottom: 1%;
	border-left: 1%;
	border-right: 1%;
	-webkit-box-shadow: -2px 1px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 1px 28px 0px rgba(0,0,0,0.75);
	box-shadow: -2px 1px 28px 0px rgba(0,0,0,0.75);
}
a.item:hover, a.item:focus {
  color: #000;
}
.bar.bar-stable, .tabs{
	background: #317300;
	border-top: #317300;
	border-left: #317300;
	border-right:#317300;
	border-bottom: #317300;
}
.tab-nav{
	background: transparent;
}
.tabs{
	background: #317300;
}
.bar.bar-stable .title {
	color: #FFF;
	border-bottom: 0px solid #FFF;
}
.tab-item, .icon, .tab-title{
	color: #BABABA;
	background: #317300;
}
.view-container{
	background: #317300;
}
.button.button-positive{
	background: #317300;	
}
.bar,.bar-stable, .tabs{
  background: #317300;
}