/* Empty. Add your own CSS if you like */
/*Fondo de la actividad*/
.scroll-content{
  background: url(../img/background.png);
}
.list:last-child {
    background: url(../img/background.png);   
}
.item {
	border: 0px; 
	background-color: transparent;
}
.item>a{
	background-color:#317300;
	opacity: 0.77%;
	color: #FFF;
	margin-left:20%;
	border-top: 1%;
	border-bottom: 1%;
	border-left: 1%;
	border-right: 1%;
	-webkit-box-shadow: -2px 1px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 1px 28px 0px rgba(0,0,0,0.75);
	box-shadow: -2px 1px 28px 0px rgba(0,0,0,0.75);
}
a.item:hover, a.item:focus {
  color: #000;
}
.bar.bar-stable{
	background: #317300;
}
.tabs{
	background: #317300;
}
.bar.bar-stable .title {
	color: #FFF;
	border-bottom: 0px solid #FFF;
}
.tab-item .icon, .tab-title{
	color: #BABABA;
	background: #317300;
}
.tab-item, .icon{
	background: #317300;
}